<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App {% block title %} {% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('hello') }}">Hello</a></li>
        <li>
          <a href="{{ url_for('codes', code = 'print(code)') }}">Code</a>
        </li>
        <li><a href="{{ url_for('register') }}">Register User</a></li>
      </ul>
    </nav>

    {% block content %}
    <!-- Block of content -->
    {% endblock %}
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
  </body>
</html>
